.App {
  text-align: center;
  margin-top: 10px;
}

.App-header {    
  height: 40px;
  justify-content: center;
  font-size: 20px;
}

.header-title {
  margin-top: 10px;
  font-family: "Tangerine", serif;
}

.profile-details {
  position: relative;
}

.ribbon {
  height:20px;
  background-color:aliceblue 
}

.ribbon2 {
  margin-right: 40px;
  margin-left: 40px;  
  height:40px;
  background-color:#ff66b3 
}

.App-link {
  color: #61dafb;
}

nav {
  top: 0;
  text-align:center;
  margin-right: 40px;
  margin-left: 40px;  
  height:40px;
  background-color:#ff66b3; 
  color: white;
  }

  nav li {
  display:inline;
  
  }
  nav .nav-link {
  margin-top:5px;  
  text-decoration:none; 
  padding:0 60px;
  }

  .view-contatiner {
    margin-right: 40px;
  }